{% extends 'main.html' %}


{% block content %}

{% if page == 'register' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name = "username" placeholder = "Enter your username"></input>
        <hr>
        <input type="password" name = "password" placeholder = "Enter your password"></input>
        <input type="submit" value="Login">
        <h6>Dont have an account? <a href="{% url 'register' %}">Sign up here!</a></h6>
    </form>
</div>

{% endif %}



{% endblock content %}